/* W3 */
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../img/parallax1.jpg'); /* 1218 x 814 */ 
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../img/parallax1.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../img/parallax2.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/*Jason Fleischer*/
@media screen and (max-width:700px) {
    .hide_mobile, small, #photo { 
        display: none; 
    }
    body{
        font-size: 14px;
    }
}
@media screen and (min-width:700px) {
    body{
        font-size:16px;
    }
}
html {
    height: 100%;
    min-width: 320px;
}
html, body {    
    padding: 0px;
    margin: 0px;     
    height: 100%;
    color: #e5e5e5;
    background: #222;
}

.pointer { 
    cursor: pointer; 
}

.full_width {
    width: 100%;
}
.w3-animate-top {
    background: #000!important;
}

.w3-bar-item-black {
    color: white;
}


.fa-soundcloud, .fa-youtube, .fa-facebook-official {
    font-size: 35px!important;
}
.fa-fw {
    font-size: 25px!important;
    margin-right: 5px!important;
}
#home div {
    height: 90%;
}
#logo {
    height: 100%;
}

#main_text {
    font-size: 20px;
}
#patreon {
    height: 40px;
    margin: 5px;
    padding-bottom: 7px;
}
#kofi {
    height: 60px;
    padding-bottom: 8px;
}
#music_software{
    margin: 10%;
}
