/*Jason Fleischer*/
@media screen and (max-width:800px) {
	/*#googleSearch{ display:none;}*/
	#subH1, #vCard, #pIemailMe, .hide-mobile, i{ display:none; }
	#email{ font-size: 16px; padding-top:2px;}  
	#residence{ font-size: 14px; padding-top:6px;}
}
@media screen and (min-width:1000px) {
	#callMe{ display:none;}
	.indent{ text-indent:40px;}
}
body{ 	
	background-color: white;/* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #F0F0F0 , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #F0F0F0, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #F0F0F0, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #F0F0F0 , white); /* Standard syntax (must be last) */
}




